<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="color: black;">Team Registration</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action='/admin/edit/{{reg.id}}' method="POST">
            <label for="teamname" style="float: left; color: black;">Team Name:</label>
            <input class="form-control" type="text" name="teamname" id="teamname" placeholder="Enter Team Name Here"
                aria-label="Enter Title Here" value="{{reg.team_name}}">
            <br>
            <label for="email" style="float: left; color: black;">Email address: </label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Here" value="{{reg.email}}">
            <br>
            <label for="agegroup" style="float: left; color: black;">Enter Age Group:</label>
            <select class="custom-select agegroup" id="agegroup" required name="agegroup">
                <option selected disabled value="">Enter Age Group</option>
                <option>Under 9 Mixed</option>
                <option>Under 11 Mixed</option>
                <option>Under 13 Boys</option>
                <option>Under 13 Girls</option>
                <option>Under 15 Boys</option>
                <option>Under 15 Girls</option>
                <option>Under 19 Boys</option>
                <option>Under 19 Girls</option>
                <option>Womens Open</option>
            </select>
            <br>
            <hr>
            <div style="float:right">
                <button type="submit" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
        <script>
            document.getElementById("agegroup").value = "{{ reg.ageGroup }}";
            console.log("{{ reg.ageGroup }}")
        </script>
    </div>

</div>
</div>
</div>